In [4]:
import pandas as pd

In [6]:
# Get the data

all_activity_df_list = []

for num in range(1,23):
    activity_csv_file_path = f'../../Resources/DataPaper/user_{num}/Activity.csv'
    sleep_csv_file_path = f'../../Resources/DataPaper/user_{num}/sleep.csv'
    
    activity_df = pd.read_csv(activity_csv_file_path)
    sleep_df = pd.read_csv(sleep_csv_file_path)
    
    activity_df['User'] = num
    sleep_df['User'] = num
    
    activity_df.set_index(['User'])
    sleep_df.set_index(['User'])

    
#     user_activity_df['User'] = num
#     user_activity_df.set_index(['User'])
    all_activity_df_list.append(activity_df)
    all_activity_df_list.append(sleep_df)

all_activity_df = pd.concat(all_activity_df_list)
all_activity_df

    Unnamed: 0  Activity  Start    End  Day
0            0         3  08:50  14:40    1
1            1         6  15:30  16:00    1
2            2         7  16:00  18:00    1
3            3         3  18:00  18:20    1
4            4         3  19:50  20:10    1
5            5         6  21:00  21:40    1
6            6         3  22:30  00:10    1
7            7         2  00:20  00:40    2
8            8         6  17:00  17:10    1
9            9        11  23:20  23:30    1
10          10         0  01:06  07:04    2